In [2]:
import pandas as pd
df = pd.concat(pd.read_excel('Peski.xlsx', sheet_name = None ), ignore_index = True )

In [14]:
df

             Manifest Date From StationCode To StationCode     Connote #
0      2018-01-01 06:25:11           GB7103         ES0960  710310154455
1      2018-01-01 09:55:09           GB7103         ES0960  710310153744
2      2018-01-01 10:40:06           GB7103         ES0960  710310154820
3      2018-01-01 10:40:09           GB7103         ES0960  710310154831
4      2018-01-01 10:55:10           GB7103         ES0960  710310154864
...                    ...              ...            ...           ...
404724 2022-10-31 12:25:25           GB7103         ES0960  710314529901
404725 2022-10-31 12:26:02           SKYRTN         ES0960  720134964975
404726 2022-10-31 12:40:39           SKYRTN         ES0960  720134965222
404727 2022-10-31 12:41:25           GB7103         ES0960  710314529912
404728 2022-10-31 12:55:26           GB7103         ES0960  710314529912

[404729 rows x 4 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404729 entries, 0 to 404728
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Manifest Date     404729 non-null  datetime64[ns]
 1   From StationCode  404729 non-null  object
 2   To StationCode    404729 non-null  object
 3   Connote #         404729 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 12.4+ MB

In [16]:
df['Manifest Date'].value_counts()

2020-12-07 23:00:00    1591
2022-06-07 20:00:00    1543
2022-06-06 20:00:00    1381
2020-12-10 23:00:00    1113
2020-11-30 23:00:00    1075
                       ...
2020-06-05 08:40:34       1
2020-06-05 08:40:40       1
2020-06-05 08:40:46       1
2020-06-05 08:55:35       1
2022-10-31 12:55:26       1
Name: Manifest Date, Length: 73843, dtype: int64

In [51]:
len(df['Manifest Date'].value_counts())

73843

In [45]:
df['new_date'] = [d.date() for d in df['Manifest Date']]
df['new_time'] = [d.time() for d in df['Manifest Date']]

In [49]:
len(df['new_date'].value_counts())

1765

In [53]:
df['new_date'].value_counts()

2020-12-07    1903
2022-06-07    1873
2022-06-06    1531
2020-12-09    1376
2020-11-30    1312
              ...
2018-10-27       2
2018-06-23       2
2019-09-07       1
2019-01-05       1
2019-08-03       1
Name: new_date, Length: 1765, dtype: int64

In [54]:
new_date = df['new_date'].value_counts()
new_date.to_csv('new_date')

In [ ]:
new_date = df['new_date'].value_counts()
new_date.to_csv('new_date')

In [29]:
len(df['Manifest Date'].value_counts())

73843

In [31]:
(73843/4)/12

1538.3958333333333

In [33]:
manifest_date = df['Manifest Date'].value_counts()
manifest_date.to_csv('Manifest Date')

ES0160    275742
ES0960    128987

In [8]:
es0160 = df["To StationCode"] ==  'ES0160'

total_es0160 = df[es0160]
len(total_es0160)

275742

In [10]:
es0960 = df["To StationCode"] ==  'ES0960'

total_es0960 = df[es0960]
len(total_es0960)

128987

In [12]:
total_es0160.to_csv('total_es0160.csv')

In [13]:
total_es0960.to_csv('total_es0960.csv')

In [19]:
df['From StationCode'].value_counts()

IT0073     164358
GB0064      87946
SKYRTN      33064
GB7103      24894
PL0032      19331
NL0065      18942
ES0060      16737
GB0005       8400
DE0104       8100
ES0960       7967
GB0565       4419
GB0567       3252
CY0044       1972
DE0066       1658
BG0129       1171
ES0160        760
PT0061        652
FR0114        227
GB0018        214
GULF01        168
RO0134        117
TR0570        100
IT0072         67
GR0107         44
EE0300         41
NL0700         38
LV0172         19
GB0543         14
BE0067         10
dHU0103         7
AT0302          6
MT0062          6
IE0225          6
PT0961          5
CZ0348          4
NP0106          3
DK0040          3
IR0205          3
BE100           1
GB0021          1
MZ0144          1
FI0038          1
Name: From StationCode, dtype: int64

In [25]:
len(df['From StationCode'].value_counts())

42

In [26]:
len(df['To StationCode'].value_counts())

2

In [5]:
df['To StationCode'].value_counts()

ES0160    275742
ES0960    128987
Name: To StationCode, dtype: int64

In [28]:
from_station = df['From StationCode'].value_counts()
from_station.to_excel('from_station.xlsx')